<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/pub/style.css">
  </head>
  <body<!DOCTYPE html>
    <h2>Login</h2>
    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
    <form action="/login" method="POST">
        <div>
            <label>Email or id:</label>
            <input type="text" name="email" required>
        </div><br>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>