.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: greenyellow;
}

#tukPaTitle {
    display: flex;
    justify-content: center;
    background-color: green;
}

table {
    width: 100%;
}

tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

th, td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

#row1, #row2, #row3, #commentRows {
    display: flex;
    flex-direction: row;
    gap: 20px;
}